body {
  font-size: .875rem;
  font-family: 'Nunito', sans-serif;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: fixed !important;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#popup-div{
  position: absolute;
  padding-bottom: 500px;
  margin-left: 10%;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 70%;
  background-color: #b8d1ff;
  border: solid black;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  text-align: center;
  -ms-transform: translate(-50%,-50%);
}

th{
  padding-right:75px;
  
  border: 3px solid #dddddd;
}

td{
  padding-right:75px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dddddd;
}

#availBtn{
  height: 30px;
  width: 130px;
  background-color: #b8d1ff ;
  margin-top:5px;
  margin-left:30px;
  margin-bottom: 5px;
  border-radius: 5px;
  
  
}

#ClosepopBtn{
  height: 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  text-align: center;
  
}

.popup-labels {
  text-align: center;
  font-size: 20px;  
  width: 40%;
  display: inline-block;
  padding-top:25px;
}

.popup-input {
  margin-bottom: 20px;
  width: 40%;
  height: 75px;
  background-color: #b8d1ff;
  border: 3px solid black; 
  border-radius: 3px;
  display: inline-block;
}

#days{
  margin-top: 5px;
  margin-bottom: 20px;
}
#dayInput{
  padding-top:10px;
}
#sub-avail{
  border:1px solid black;
  border-radius: 2px;
  margin-right: 120px;
}

.time-slot {
  padding: 10px;
  border: solid black;
  border-width: 2px;
  height: 65px;
  width: 65px;
}

.time-banner{
  font-size: 15px;
}


::-webkit-calendar-picker-indicator { background-image: "https://cdn1.iconfinder.com/data/icons/ios-11-ui-elements-vol-1/29/25_dropdown_menu_down_arrow-512.png"; }